configuration {
    modi:                   "drun,run";
    font:                   "Iosevka Nerd Font 13";
    show-icons:             true;
    icon-theme:             "Papirus";
    terminal:               "sakura";
    drun-display-format:    "{name}";
    location:               0;
    disable-history:        false;
    hide-scrollbar:         true;
    sidebar-mode:           false;
    display-drun:           "Apps";
    display-run:            "Run";
}

@theme "~/.config/rofi/catppuccin-mocha.rasi"
